/* General setup */
html{
  background: url(../ims/trolltunga.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
  padding-top: 65px;
  font-family: 'Montserrat', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}

/* Navigation bar setup */
.navbar{
  position: fixed;
  height: 80px;
  padding: 0 20px;
  top: 0;
  display: flex;
  align-items: center;
  background: #333;
  width: 100%;
}

.menu{
  position: fixed;
  right: 20px;
}

.menu a{
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  padding: 0 10px;
  transition: color 0.4;
  text-transform: uppercase;
}

.show-menu-btn, .hide-menu-btn{
  color: white;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 80px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color:#b9b9b9;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/* Index page setup */
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  color: white;
}

.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1{
  font-size: 40px;
  letter-spacing: 4%;
  font-weight: 100;
}

.box h5{
  font-size: 20px;
  font-weight: 100;
}

.box p{
  font-size: 14px;
  text-align: justify;
}

.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: white;
  color: #333;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all ease-in-out 0.4s;
  font-size: 22px;
}

.box li a:hover{
  background: #b9b9b9;
}
.box li a i{
  transition: 0.4s all;
}
.box li a:hover > i{
  transform: scale(1.6) rotate(25deg);
}

/* Contact setup */
.business-card{
  width:400px;
  height: 200px;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-info{
    box-sizing: border-box;
    list-style: none;
}

.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s linear;
}

.front{
  background: rgba(255,255,255,.7);
  padding-left: 7%;
  transform: perspective(600px) rotateX(180deg);
}

.front::before,.front::after{
  content: "";
  position: absolute;
  right: -7%;
}

.front::before{
  background: #2c3e50;
  width: 80px;
  height: 120px;
  bottom: 0;
  clip-path:polygon(0 100%,40% 0, 100% 100%);
}

.front::after{
  background: #34495e;
  width: 100px;
  height: 100%;
  top: 0;
  clip-path:polygon(0 0,100% 0, 100% 100%, 80% 100%);
}

.front h2{
  text-transform: uppercase;
}

.front span{
  background: #34495e;
  color: #fff;
  padding: 4px 10px;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
}

.front .contact-info li{
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.front .contact-info li i{
  width: 26px;
  height: 26px;
  background: #34495e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}


.back{
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  transform: perspective(600px) rotateX(0deg);
}

.business-card-active .front{
  transform: perspective(600px) rotateX(0deg);
}

.business-card-active .back{
  transform: perspective(600px) rotateX(-180deg);
}


/* Resources */
.course-section{
  width: 100%;
  height: 100%;
  padding: 60px 0;
  background: #f1f1f1;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.border{
  width: 180px;
  height: 4px;
  background: #333;
  margin: 20px auto;
  margin-bottom: 40px;
}

.course-section h1, h2{
  text-align: center;
  color: #333;
  text-transform: uppercase;
}

.course-section .flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  display: inline-flex;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 80%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transform: rotateY(180deg);
}

/* CSS interaction for Navigation bar */
@media screen and (max-width : 600px) {
  .show-menu-btn, .hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
#chk:checked ~.menu{
  right: 0;
}
}
